<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClientDTO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DriversDTO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GoFloraSharedPackage-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GoFloraSharedPackage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LocationService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PaymentDTO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SharedModels.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TripDTO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ClientDTO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DriversDTO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GoFloraSharedPackage</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GoFloraSharedPackageTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PaymentDTO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SharedModels</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TripDTO</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
